<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="text-center mb-5">
        <h1 class="fw-bold text-dark">Add New Product</h1>
        <p class="text-secondary">Fill in the details to add a new item to your inventory</p>
      </div>

      <%= render "form", product: @product %>
    </div>
  </div>
</div>
